@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap')
layer(base);
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap')
layer(base);

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --default-transition-duration: 250ms;
  --color-base: #f6f6f6;

  --color-primary-100: var(--color-blue-100);
  --color-primary-200: var(--color-blue-200);
  --color-primary-300: var(--color-blue-300);
  --color-primary-400: var(--color-blue-400);
  --color-primary-500: var(--color-blue-500);
  --color-primary-600: var(--color-blue-600);
  --color-primary: var(--color-primary-500);
  --color-natural: var(--color-black);
  --color-secondary: var(--color-white);
  --color-zinc-50: var(--color-gray-50);
  --color-zinc-100: var(--color-gray-100);
  --color-zinc-200: var(--color-gray-200);
  --color-zinc-300: var(--color-gray-300);
  --color-zinc-400: var(--color-gray-400);
  --color-zinc-500: var(--color-gray-500);
  --color-zinc-600: var(--color-gray-600);
  --color-zinc-700: var(--color-gray-700);
  --color-zinc-800: var(--color-gray-800);
  --color-zinc-900: var(--color-gray-900);
  --color-zinc-950: var(--color-gray-950);

  --font-Inter: Inter;
  --font-Vazir: Vazirmatn;
}


@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
    @apply dark:border-white/10;
  }

  .dark {
    color: #fff;
  --color-base: #000;
  --color-natural: var(--color-white);
  --color-secondary: #121212;
  --color-zinc-50: oklch(1.5% 0.002 67.839);
  --color-zinc-100: oklch(3.9% 0.004 70.235);
  --color-zinc-200: oklch(8.3% 0.006 71.563);
  --color-zinc-300: oklch(14.5% 0.009 72.211);
  --color-zinc-400: oklch(22.1% 0.012 72.567);
  --color-zinc-500: oklch(30.9% 0.016 72.771);
  --color-zinc-600: oklch(40.9% 0.019 72.873);
  --color-zinc-700: oklch(52.1% 0.021 72.897);
  --color-zinc-800: oklch(64.5% 0.021 72.859);
  --color-zinc-900: oklch(76.1% 0.018 72.745);
  --color-zinc-950: oklch(84.8% 0.015 72.523);
  }
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  background:#e0e0e0;
}

.scrollbar::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 10px;
  background: #c9c9c9;
}

.message-text a {
  @apply decoration-current underline text-blue-50 underline-offset-4
}

.last-message > * {
  @apply inline;
}